<h4>Interesting shares</h4>

<br/>

<% @shares.each do |share| %>
  <div class="large-12 columns">
    <div class='large-2 columns'>
      <span class='button round disabled'><%= share.created_at.strftime("%d %b %Y")%></span>
    </div>
    <div class='large-10 columns'>
      <%= link_to share.title, share %>
      <p><%= share.description %></p>
      <span class="radius secondary label"><a href="#">tag</a></span>
      <br/>
      <br/>
    </div>
  </div>
<% end %>
<%= link_to 'New Share', new_share_path %>
